@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html{

    font-family: 'Lato', sans-serif;
}

body{
    padding:1rem;
    background:#1a1a1a;
    color:white;
    margin-bottom:6rem;//makes sure footer doesn't overlap content
}

.postGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.post{
    box-sizing: border-box;
    border: 5px solid #1a1a1a;
    aspect-ratio:16/9;
    background-image: url("https://ak.picdn.net/shutterstock/videos/24953183/thumb/8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    margin:0;
    text-align:left;
    align-items:flex-end;
}

.post:hover{
    border: 5px solid;
    border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
}

.nametag{
    background: rgba(0, 0, 0, 0.5);
    padding:2px;
}

.footer{
    width:100%;
    position:fixed;
    left:0;
    bottom:0;
    height:6rem;
    color:#a8a8a8;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#1a1a1a;
}

.footer > div{
    margin:0 1rem 0 1rem;
    padding:1.2rem;
}

.footer > div:hover{
    background-color:#323335;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nametag > i {
    color:#fe5a60;
}


#post5{
    background-image: url("https://media2.giphy.com/media/AZYOLw9ZdQy2THC75U/giphy.gif");
}

.content{
    padding:0 5rem 0 5rem;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }