@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html{
    height:100%;
    font-family: 'Lato', sans-serif;
}

body{
    min-height:100vh;
    margin:0;
    background:#1a1a1a;
    color:white;
    display: flex;
    flex-direction: column;
}

.title{
    font-weight: 700;
    font-size:3rem;
    text-align: center;
    margin-bottom:1rem;
    text-transform: uppercase;
}

#main{
    flex: 1 1 auto;
    //background:pink;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 1rem;
}

.window{
    display:flex;
    background-image: url("https://ak.picdn.net/shutterstock/videos/24953183/thumb/8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width:300px;
    min-height:auto;
    margin:0;
    text-align:left;
    align-items:flex-end;
    box-sizing: border-box;
    border: 5px solid #1a1a1a;
    aspect-ratio:16/9;
}

#window5{
    background-image: url("https://media2.giphy.com/media/AZYOLw9ZdQy2THC75U/giphy.gif");
}

#window9{
    background-image: url("https://media0.giphy.com/media/J5un8ilrRquqKeOS17/giphy.gif");
}

.window:hover{
    border: 5px solid;
    border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
}

.name{
    background: rgba(0, 0, 0, 0.5);
    padding:2px;
}

#footer{
    margin-top:0.5rem;
    color:#a8a8a8;
    background-color: #1a1a1a;
    font-weight: 700;
    font-size:1rem;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height:6rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

#footer > div{
    margin:0 1rem 0 1rem;
    padding:1.2rem;
}

#footer > div:hover{
    background-color:#323335;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.name > i {
    color:#fe5a60;
}
